<div class="container">
	<div class="panel menu">
		<header>
			<h1>Prenatal Simulation Game</h1>
		</header>
		<div class="main">
			<div class="content">
				<ul class="controls">
					<li><a href="javascript:void(0)" ng-click="startNewGame()">New Game</a></li>
					<li><a href="javascript:void(0)" ng-class="sg.gamesaved ? 'active' : 'disabled'" ng-click="resumeGame()">Resume Game</a></li>
					<li><a href="#/instructions/">How to Play</a></li>
					<li><a href="#/objectives/">Learning Objectives</a></li>
					<li><a href="#/settings/">Game Options</a></li>
					<li><a href="../">Exit Game</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>